<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" /> -->

    <!-- 转换读取yml文件里的配置 -->
    <springProperty scope="context" name="application.name" source="spring.application.name"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [${application.name}] [%-5p] [%d{yyyy-MM-dd​ ​HH:mm:ss.SSS}] [%C{1}:%M:%L] [%thread] %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 按日期生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <file>/home/admin/log/${application.name}/eventbutler.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/admin/log/${application.name}/main.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>2GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                [${application.name}] [%-5p] [%d{yyyy-MM-dd​ ​HH:mm:ss.SSS}] [%C{1}:%M:%L] [%thread] %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>


</configuration>